{% extends  'Base.html' %}
 {%  block title %}
Teachers
 {% endblock %}
 {%  block Content %}
<h1 class="Text-center">Our Teachers</h1>
<hr>
<div class="container text-center bg-light">
{% for t in teach %}
<h1>{{t.Teachers_name}}</h1>
<div class="card text-center mx-3 my-3" style="width: 25rem; display:inline-block">
    <img src="{{t.Teachers_image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Sir.{{t.Teachers_name}}</h5>
      <p class="card-text">{{t.Teachers_profile}}</p>
    </div>
</div>
{% endfor %}
{% endblock  %}
